a:link { /* 아직 방문하지 않은 링크의 색 정의*/
    color: #000;
}

a:visited { /* 방문한 적이 있는 링크의 색 정의*/
    color:#000;
}

a:hover { /* 마우스를 링크에 올려두었을 때의 색 정의*/
    color:#000;
}

a:active { /* 마우스로 링크를 클릭하고 뗄 때까지의 색 정의*/
    color:#000;
}

body {
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: border-box;
}

.head {
    padding-top: 5.75rem;
    margin-bottom: 1.5rem;
    margin-left: 0.88rem;
    margin-right: 0.88rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

#Share {
    text-decoration-line: none;
}

/* slider */
.slider__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 이미지 보이는 부분 */
.slider__img {
    position: relative;
    width: 364px;
    height: 374px;
    overflow: hidden;
}

.page__img {
    position: relative;
    width: 430px;
    height: 863.33px;
    overflow: hidden; 
}

/************ page 2개 대해서 overflow 히든을 이용해서 page width 2개 분량*/
.page__inner {
    display: flex;
    flex-wrap: wrap;
    width: 860px;
    height: 863.33px;
}

/* 이미지 감싸고 있는 부모 : 움직이는 부분 */
.slider__inner {
    display: flex;
    flex-wrap: wrap;
    /* 총 이미지 6개 */
    width: 2184px;
    height: 374px;
}
/* 개별적인 이미지 */
.slider {
    position: relative;
    width: 364px;
    height: 374px;
}
.slider img{
    width: 100%;
}
.slider::before {
    position: absolute;
    left: 5px;
    top: 5px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 5px 10px;
}

.slider__btn img {
    position: absolute;
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    display: block;
    color: #fff;
}
.slider__btn img:hover {
    background: rgba(255,255,255,0.4);
    color:#000;
}
.slider__btn img.prev {
    left: 33px;
    opacity: 0.3;
}
.slider__btn img.next {
    right: 33px;
    opacity: 0.3;
}

/* 점 부분 */
.slider__dot {
    position: absolute;
    padding-top: 396px;
}
.slider__dot .dot {
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,0.4);
    display: inline-block;
    border-radius: 50%;
    text-indent: -9999px;
    transition: all 0.3s;
    margin: 2px;
}
.slider__dot .dot.active {
    background: black;
}

/* 피드 콘텐츠(프로필 이미지, 내용, 기업태그 등) */
#feed_content {
    display: flex;
    justify-content: center;
    margin-top: 41px;
}

.profile_image {
    width: 48px;
    height: 46px;
}

.profile {
    width: 48px;
    height: 46px;
    border-radius: 70%;
}

#text {
    width: 316px;
    padding-left: 8px;
    border: none;
}

/* 
    모달창 부분!! tag company
*/

.open_modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.84rem;
    width: 26.87506rem;
    height: 4.31rem;
    padding-top: 1.37rem;
    padding-bottom: 1.81rem;
    border-left: none;
    border-right: none;
    border-top-width: 0.0125rem;
    border-bottom-width: 0.0125rem;
    border-color: rgba(0, 0, 0, 0.60);;
    background: #fff;
    padding-left: 0;
    padding-right: 0;
}

.Tag_text {
    margin-left: 2.25rem;
    opacity: 0.9;
}

.arrow {
    margin-right: 1.25rem;
}

.modal_overlay {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal_content {
    width: 20.9375rem;
    min-height: 41.6875rem;
    height: fit-content;
    flex-shrink: 0;
    padding: 1rem;
    margin: 0;
    border: 1px solid #777;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .modal_header {
    display: flex;
    justify-content: space-between;
    margin-top: 1.69rem;
    margin-left: 1.56rem;
    margin-right: 0.23rem;
  }

  .close_btn {
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .Done {
    width: 3.25rem;
    height: 1.375rem;
  }

  .modal_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .tagCompany_text {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.9;
    margin: 0;
  }

 .search_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2.38rem;
    width: 13.125rem;
    height: 2.375rem;
    border-radius: 0.3125rem;
    background: rgba(217, 217, 217, 0.50);
 }

 .search_img {
    width: 1.1875rem;
    height: 1.25rem;
    flex-shrink: 0;
    margin-right: 1.69rem;
    margin-left: 0.38rem;
 }

 .box {
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width:65%;
    background: rgba(217, 217, 217, 0);
    border: none;
 }