/*
    게시물 작성 페이지-2
*/
a:link { /* 아직 방문하지 않은 링크의 색 정의*/
    color: #000;
}

a:visited { /* 방문한 적이 있는 링크의 색 정의*/
    color:#000;
}

a:hover { /* 마우스를 링크에 올려두었을 때의 색 정의*/
    color:#000;
}

a:active { /* 마우스로 링크를 클릭하고 뗄 때까지의 색 정의*/
    color:#000;
}

body {
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: border-box;
}

.head {
    padding-top: 5.75rem;
    margin-bottom: 1.5rem;
    margin-left: 0.88rem;
    margin-right: 0.88rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#Share {
    text-decoration-line: none;
}
/* 이미지 가운데로 오게 함 */
/* preview 이미지 구간 
#preview_image {
    display: block;
    margin: auto;       
    width: 22.75rem;
    height: 23.375rem;
}
*/

/********************* 시작부분!test new_feed1 슬라이더 ********************/
.new_feed1 {
    position: relative;
    width: 430px;
    height: 863.33px;
}

.new_feed2 {
    position: relative;
    width: 430px;
    height: 863.33px;
}

#Next {
    text-decoration-line: none;
}

/* preview 이미지 구간 */
#preview_image {
    display: block;
    margin: auto;
    width: 22.75rem;
    height: 23.375rem;
}

/* 추가한 이미지 구간 */
.container {
    margin-left: 2.06rem;
    margin-right: 2.06rem;
}

.photo_add {
    width: 22.75rem;
    height: 20rem;
}

.preview_title {
    margin-left: 0.63rem;
}

@media (any-hover: hover) {
    .inner:hover {
        background-color: var(--hoverBg);
    }
}
/* 추가되는 이미지 정렬 방식 */
.preview {
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.19rem;
    grid-row-gap: 0.25rem;
}

/* 추가된 이미지의 크기 결정 */
.embed-img {
    width: 5.5rem;
    height: 5.4375rem;
    object-position: center;
    object-fit: cover;
}

/* 상단 preview 이미지 */
.preview_image {
    width: 22.75rem;
    height: 23.375rem;
}
/********************* 끝 부분!test new_feed1 슬라이더 ********************/

/* slider */
.slider__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 이미지 보이는 부분 */
.slider__img {
    position: relative;
    width: 364px;
    height: 374px;
    overflow: hidden;
}

.page__img {
    position: relative;
    width: 430px;
    height: 863.33px;
    overflow: hidden; 
}

/************ page 2개 대해서 overflow 히든을 이용해서 page width 2개 분량*/
.page__inner {
    display: flex;
    flex-wrap: wrap;
    width: 860px;
    height: 863.33px;
}

/* 이미지 감싸고 있는 부모 : 움직이는 부분 */
.slider__inner {
    display: flex;
    flex-wrap: wrap;
    /* 총 이미지 6개 */
    width: 2184px;
    height: 374px;
}
/* 개별적인 이미지 */
.slider {
    position: relative;
    width: 364px;
    height: 374px;
}
.slider img{
    width: 100%;
}
.slider::before {
    position: absolute;
    left: 5px;
    top: 5px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 5px 10px;
}

.slider__btn img {
    position: absolute;
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    display: block;
    color: #fff;
}
.slider__btn img:hover {
    background: rgba(255,255,255,0.4);
    color:#000;
}
.slider__btn img.prev {
    left: 33px;
}
.slider__btn img.next {
    right: 33px;
}

/* 점 부분 */
.slider__dot {
    position: absolute;
    padding-top: 380px;
}
.slider__dot .dot {
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,0.4);
    display: inline-block;
    border-radius: 50%;
    text-indent: -9999px;
    transition: all 0.3s;
    margin: 2px;
}
.slider__dot .dot.active {
    background: black;
}