.section .slidewrap {
    max-width: 300px;  /* 가로길이 */
    margin: 0 auto;     /* 블록 요소를 가운데 정렬하는 요소 */
    overflow: hidden;   /* 블록 영역을 벗어나면 안보이게 */
}

.section .slidelist {
    white-space: nowrap;    /*안쪽의 인라인의 줄바꿈 요소를 없앰 */
    font-size: 0;           /* 0으로 해서 안쪽 빈영역을 없애줌 */
}

.section .slidelist > li {  /* slidelist 안의 li 태그들 선택 */
    display:inline-block;   
    vertical-align: middle; /* 새로정렬을 가운데로 */
    width:100%;             /* 이미지가 블록을 꽉 채우게 */
    transition: all .5s;    /* 넘어가는 자연스러운 애니메이션 .5초 */
}

.section .slidelist > li > a {
    display: block;         /* 안쪽 컨텐츠를 다 담을 수 있게 */
    position: relative;     /* 그리고 label태그 위치 이동을 위해 */ 
}

.section .slidelist > li > a img{
    width: 100%;        /* 안의 이미지 크기 비율(반응형으로 사용하기 위해 %)*/
}

.section .slidelist label.left {
    position: absolute;             /* label(왼쪽 오른쪽 버튼)을 자율배치 */
    z-index: 10;                    /* 우선 순위 높임 */
    top:50%;                        /* 위에서 50퍼 지점 */
    transform: translateY(-50%);    /* 자신의 영역을 기준으로 위로 50퍼 오게해서 가운데 정렬시킴 */
    padding: 50px;                  /* 클릭할 수 있는 크기 (네모나게)*/
    cursor:pointer;                 /* 마우스가 올라가면 커서가 포인터(검지 손가락 모양)으로 */
}

.section .slidelist label.right {
    position: absolute;             /* label(왼쪽 오른쪽 버튼)을 자율배치 */
    z-index: 11;                    /* 우선 순위 높임 */
    top:50%;                        /* 위에서 50퍼 지점 */
    transform: translateY(-50%);    /* 자신의 영역을 기준으로 위로 50퍼 오게해서 가운데 정렬시킴 */
    padding: 50px;                  /* 클릭할 수 있는 크기 (네모나게)*/
    cursor:pointer;                 /* 마우스가 올라가면 커서가 포인터(검지 손가락 모양)으로 */
}