/*
    게시물 작성 페이지-1
*/
a:link { /* 아직 방문하지 않은 링크의 색 정의*/
    color: #000;
}

a:visited { /* 방문한 적이 있는 링크의 색 정의*/
    color:#000;
}

a:hover { /* 마우스를 링크에 올려두었을 때의 색 정의*/
    color:#000;
}

a:active { /* 마우스로 링크를 클릭하고 뗄 때까지의 색 정의*/
    color:#000;
}

body {
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: border-box;
}

.head {
    margin-top: 5.75rem;
    margin-bottom: 1.5rem;
    margin-left: 0.88rem;
    margin-right: 0.88rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.New_post {
    
}

#Next {
    text-decoration-line: none;
}

/* preview 이미지 구간 */
#preview_image {
    display: block;
    margin: auto;
    width: 22.75rem;
    height: 23.375rem;
}

/* 추가한 이미지 구간 */
.container {
    margin-left: 2.06rem;
    margin-right: 2.06rem;
}

.photo_add {
    width: 22.75rem;
    height: 20rem;
}

.preview_title {
    margin-left: 0.63rem;
}

/* 마우스 올렸을 때 색깔 변경파트*/
:root {
    --hoverBg: #616161; 
}
/* 마우스 올렸을 때 색깔 변경파트*/

.inner {
    width: 5.5rem;
    height: 5.4375rem;
    background: #D9D9D9;
    text-align: center;
}

#add_btn {
    margin-top: 1.3125rem;
}

@media (any-hover: hover) {
    .inner:hover {
        background-color: var(--hoverBg);
    }
}
/* 추가되는 이미지 정렬 방식 */
.preview {
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.19rem;
    grid-row-gap: 0.25rem;
}

/* 추가된 이미지의 크기 결정 */
.embed-img {
    width: 5.5rem;
    height: 5.4375rem;
    object-position: center;
    object-fit: cover;
}

/* 상단 preview 이미지 */
.preview_image {
    width: 22.75rem;
    height: 23.375rem;
}