/*
    게시물 작성 페이지-2
*/
a:link { /* 아직 방문하지 않은 링크의 색 정의*/
    color: #000;
}

a:visited { /* 방문한 적이 있는 링크의 색 정의*/
    color:#000;
}

a:hover { /* 마우스를 링크에 올려두었을 때의 색 정의*/
    color:#000;
}

a:active { /* 마우스로 링크를 클릭하고 뗄 때까지의 색 정의*/
    color:#000;
}

body {
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: border-box;
}

.head {
    margin-top: 5.75rem;
    margin-bottom: 1.5rem;
    margin-left: 0.88rem;
    margin-right: 0.88rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#Share {
    text-decoration-line: none;
}

/* preview 이미지 구간 */
#preview_image {
    width: 22.75rem;
    height: 23.375rem;
}