/*
    게시물 작성 중 기업 태그 페이지
*/


.background {
    /* 화면에 꽉 차게 하는 코드 */
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;

    z-index: 2; /* 헤더 위로 */
}

.modalBackground {
    /* 화면에 꽉 차게 하는 코드 */
    position: fixed;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.35); /* 배경색 어둡게 */
    z-index: 3; /* 위에서 만든 도화지보다 높게 준다. */
    /*cursor: pointer;  누르면 홈으로 이동*/
}

.modal {
    /* 화면에 꽉 차게 하는 코드(여기서는 너비를 꽉 채우는 용도) */
  position: fixed;
  top: 50%;
  left: 50%;
  
  /* 위아래 너비를 준 상태에서 가로 50%, 세로 50%를 이동시킬 수 있다 (= 한가운데 배치) */
  transform: translate(-50%, -50%);
  
  /* 위의 overlay 배경보다 한 단계 더 높게 배치 */
  z-index: 4;
}

/* 실제 모달창 */
.modal_body {
    /* 내부 컨텐츠 세로 정렬 */
    display: flex;
    flex-direction: column;
    
    /* 아래 closeButton 배치 용도(부모)*/
    position: relative;
    
    /* 모달 디자인 */
    width: 21.9375rem;
    height: 42.6875rem;
    background-color: #ffffff;
  }
  
  /* 모달 우측 상단의 닫기 버튼 */
  .modalBackground #closeBtn {
        /* 절대 배치 */
      position: absolute;
      top: 5.5rem;
      right: 0.88rem;
      
      cursor: pointer; /* 닫기 버튼 클릭 시 홈으로 이동 */
    }