/* 
    프로필 수정 페이지
*/

a:link { /* 아직 방문하지 않은 링크의 색 정의*/
    color: #000;
}

a:visited { /* 방문한 적이 있는 링크의 색 정의*/
    color:#000;
}

a:hover { /* 마우스를 링크에 올려두었을 때의 색 정의*/
    color:#000;
}

a:active { /* 마우스로 링크를 클릭하고 뗄 때까지의 색 정의*/
    color:#000;
}

body {
    
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.44rem;
    margin-top: 7.25rem;
    margin-right: 1.25rem;
}

.handle {
    color: #000;
    font-family: Inter;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.out {
    color: #000;
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quit {
    margin-left: 0.94rem;
}

.changes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.44rem;
    margin-right: 2.44rem;
    margin-top: 0.75rem;
}

.img_change {
    width: 4rem;
    height: 3.625rem;
}

.profile_img {
    width: 4rem;
    height: 3.625rem;
    border-radius: 70%;
}

.name_change {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 8.9375rem;
    height: 2.375rem;
    background: rgba(217, 217, 217, 0.35);;
}

.name {
    width: 6.9375rem;
    height: 1.375rem;
    background: rgba(217, 217, 217, 0);;
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password_change {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.69rem;
    margin-bottom: 13.06rem;
}

.password {
    width: 15.125rem;
    height: 2.9375rem;
    border-radius: 0.625rem;
    background: rgba(217, 217, 217, 0.35);
    border:none;
}

.ok {
    width: 6.8125rem;
    height: 2.6875rem;
    border-radius: 0.3125rem;
    background: rgba(217, 217, 217, 0.50);
    border:none;
}