body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset_password_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0;
  padding: 3.31rem 0rem;
}

.reset_password_header_goback_btn {
  width: 1.25rem;
  height: 0.78125rem;
  position: absolute;
  left: 0;
  margin-left: 2.69rem;
}
.reset_password_header_logo {
  width: 5.3125rem;
  height: 1.1875rem;
}

.reset_password_main_title {
  margin-bottom: 2.63rem;
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reset_password_main_input {
  border: none;
  color: #000;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 18.75rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: rgba(217, 217, 217, 0.35);
}

#reset_password_input_err_msg_re_password {
  visibility: hidden;
  font-size: 0.8rem;
  color: red;
  width: 18.75rem;
}

.certification_num_wrap {
  width: 18.75rem;
  display: flex;
  margin-bottom: 1.44rem;
}
#reset_password_main_certification_num {
  flex: 1;
  border-radius: 0.625rem 0 0 0.625rem;
}

.certification_check_btn {
  background-color: #6970f2;
  padding: 0 0.5rem;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  color: #fff;
  border-radius: 0 0.625rem 0.625rem 0;
}

#reset_password_main_new_password {
  margin-bottom: 1.44rem;
}

#reset_password_input_err_msg_re_password {
  margin-bottom: 4.56rem;
}

.reset_password_main_btn {
  border: none;
  width: 18.75rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #6970f2;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
