main {
    overflow-x: hidden;
}

/* 하단바 css */
.base_bottom_searchNav_item {
    background-color: white;
}

/* 로고 css */
header img {
    width: 90px; 
    height: 20px;
    margin: 2rem 4rem 0 2rem;
}

/* 검색바 */

.search_header {
    display: flex;
    padding: 1rem 1rem;
}

.search_header img {
    cursor: pointer;
    margin-right: 0.5rem;
}

.search_bar {
    position: relative;
    width: 55%;
    height: 2rem;
}

.search_bar input {
    width: 100%;
    max-width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 0.75rem;
    padding: 10px 40px;
    font-size: 14px;
    background-color: #D9D9D9;
    outline: none;
}

.search_bar img {
    position: absolute;
    width: 17px;
    top: 10px;
    left: 12px;
}

.searchMain_nav_underline {
    position: absolute;
    width: 30%;
    height: 2px;
    background-color: #6970F2;
    transition: transform 0.3s ease;
    bottom: -2px;
  }
  
  .selected {
    color: #6970F2;
  }
  

/* .search_main nav바 */
.searchMain_nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    align-items: center;
}

.searchMain_nav hr {
    width: 100%;
}

.searchNav_item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 1rem;
}

.searchNav_item button {
    display: block;
    width: 30%;
    padding: .75rem 0;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: medium;
}


/* 탐색 이미지 grid */
.grid_container_forYou,
.grid_container_person,
.grid_container_company,
.grid_container_hashtag {  
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 0.2rem; 
    margin: 1rem 1.5rem;
    padding-bottom: 39px;
    overflow: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
  }
  
.grid_container_forYou img,
.grid_container_person img,
.grid_container_company img,
.grid_container_hashtag img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 6rem;
  }