body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup_header {
  width: 13.875rem;
  height: 4.875rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.35);
  margin-bottom: 2.44rem;
}

.signup_input_wrap {
  display: flex;
  flex-direction: column;
  padding: 22px 0px;
  min-height: 150px;
  justify-content: space-around;
}

.signup_input {
  background-color: rgba(217, 217, 217, 0.35);
  border: none;
  height: 2.81rem;
  width: 17.1rem;
  border-radius: 0.625rem;
  color: #000;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.81rem;
}

#signup_input_email,
#signup_input_email_num {
  width: 12rem;
  height: 2.9375rem;
  flex-shrink: 0;
  margin-right: 0.75rem;
  border-radius: 0.625rem;
  background: rgba(217, 217, 217, 0.35);
}

.signup_email_certification_button,
.signup_email_num_button {
  width: 3.1875rem;
  height: 2.9375rem;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 0.3125rem;
  background: rgba(217, 217, 217, 0.7);
}

.radiobutton1_wrap {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 5.31rem;
}

.radiobutton1 {
  width: 1.25rem;
  height: 1.3125rem;
  flex-shrink: 0;
  background: rgba(217, 217, 217, 0.7);
  margin: 0;
}

.radiobutton1_label {
  width: 3.1875rem;
  height: 0.9375rem;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.signup_signup_btn {
  width: 12.4375rem;
  height: 2.8125rem;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  border: none;
  border-radius: 0.625rem;
  background: rgba(217, 217, 217, 0.7);
}
