:root {
  --input-color: rgba(217, 217, 217, 0.35);
  --button-color: #6970f2;
  --main-color: #6970f2;
  --err-msg-color: red;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 3.31rem 0rem;
}

.signup_header_goback_btn {
  width: 1.25rem;
  height: 0.78125rem;
  position: absolute;
  left: 0;
  margin-left: 2.69rem;
}
.signup_header_logo {
  width: 5.3125rem;
  height: 1.1875rem;
}

.signup_input_wrap {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  justify-content: space-around;
}

.signup_email_certification_wrap {
  display: flex;
  flex-direction: column;
}

.signup_email_certification_button {
  border: none;
  width: 18.75rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: var(--button-color);
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.81rem;
}

.signup_input {
  background-color: var(--input-color);
  border: none;
  width: 18.75rem;
  height: 2.8125rem;
  border-radius: 0.625rem;
  color: #000;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.81rem;
}

.signup_input_err_msg {
  color: var(--err-msg-color);
  font-size: 0.8rem;
  margin-bottom: 0.81rem;
  display: none;
}

#signup_input_email_num {
  width: 12.625rem;
  height: 2.8125rem;
  flex-shrink: 0;
  margin-right: 0.75rem;
  border-radius: 0.625rem;
  background: var(--input-color);
}

.signup_email_num_button {
  border: none;
  width: 5.125rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: var(--button-color);
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.radiobutton1_wrap {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-bottom: 5.31rem;
}

.radiobutton1_wrap > label {
  display: flex;
}

.radiobutton1 {
  width: 1.25rem;
  height: 1.3125rem;
  flex-shrink: 0;
  background: rgba(217, 217, 217, 0.7);
  margin: 0;
}

.radiobutton1_label {
  background-color: rgba(217, 217, 217, 0.7);
  border-radius: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_signup_btn {
  border: none;
  width: 18.75rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #6970f2;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
